{
  "presets": [["es2015", { "modules": false }], "react"],
  "plugins": ["transform-es2015-destructuring", "transform-object-rest-spread"],
  "env": {
      "development": {
		  "plugins": [
		    "react-hot-loader/babel"
		  ]
		}
	}
}
